<section class="contact-create">
  <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>

  <table class="table" style="width:340px">
    <tr>
      <td>Phone Number: </td>
      <td class="td-right"><%= @contact.phone_number %></td>
    </tr>
    <tr>
      <td>E-Mail: </td>
      <td class="td-right"><%= @contact.email %></td>
    </tr>
    <tr>
      <td>Twitter: </td>
      <td class="td-right"><a href="http://www.twitter.com/<%= @contact.social_media.slice(1..-1) %>" class="social-link" target="_blank"><%= @contact.social_media %></a></td>
    </tr>
  </table>
</section>

<div class="edit-1"><i class="fa fa-pencil-square-o"></i><a href="/<%= @contact.id %>/edit" class="edit-link"> Edit</a></div>
<div class="edit-2"><i class="fa fa-times-circle"></i>
<form action="/<%= @contact.id %>" method="post" class="delete-form">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="Delete" value="Delete" class="delete-link">
</div>